@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Emp/Add" method="post">
    ID:<input type="type" name="id" value="" />
    Name:<input type="type" name="name" value="" />
    Email<input type="type" name="email" value="" />
    Address<input type="type" name="address" value="" />
    Phone:<input type="type" name="phone" value="" />
    Salary:<input type="type" name="salary" value="" />
    Status:<input type="type" name="status" value="" />

    <button type="submit" name="btn"> ADD</button>
</form>



