@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EmpWebApp.Models;
@{
    <h1>List</h1>
    List<Emp> emps = (List<Emp>)ViewData["all"];
    foreach (Emp e in emps)
    {
        <li>@e.name</li><br></br>
    }
}
